footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    transition: transform 0.3s ease-in-out; /* اضافه کردن انیمیشن */
  }
  
  footer.hidden {
    transform: translateY(100%); /* خروج از صفحه */
  }
  
  footer.visible {
    transform: translateY(0); /* بازگشت به صفحه */
  }
  